





/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.socket{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
}

.hex-brick{
  background: #ABF8FF;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.h2{
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.h3{
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}

.gel{
    height: 30px;
    width: 30px;	
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
top: 50%;
left: 50%;
}

.center-gel{
    margin-left: -15px;
    margin-top: -15px;
    
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.c1{
    margin-left: -47px;
    margin-top: -15px;
}

.c2{
    margin-left: -31px;
    margin-top: -43px;
}

.c3{
    margin-left: 1px;
    margin-top: -43px;
}

.c4{
    margin-left: 17px;
    margin-top: -15px;
}
.c5{
    margin-left: -31px;
    margin-top: 13px;
}

.c6{
    margin-left: 1px;
    margin-top: 13px;
}

.c7{
    margin-left: -63px;
    margin-top: -43px;
}

.c8{
    margin-left: 33px;
    margin-top: -43px;
}

.c9{
    margin-left: -15px;
    margin-top: 41px;
}

.c10{
    margin-left: -63px;
    margin-top: 13px;
}

.c11{
    margin-left: 33px;
    margin-top: 13px;
}

.c12{
    margin-left: -15px;
    margin-top: -71px;
}

.c13{
    margin-left: -47px;
    margin-top: -71px;
}

.c14{
    margin-left: 17px;
    margin-top: -71px;
}

.c15{
    margin-left: -47px;
    margin-top: 41px;
}

.c16{
    margin-left: 17px;
    margin-top: 41px;
}

.c17{
    margin-left: -79px;
    margin-top: -15px;
}

.c18{
    margin-left: 49px;
    margin-top: -15px;
}

.c19{
    margin-left: -63px;
    margin-top: -99px;
}

.c20{
    margin-left: 33px;
    margin-top: -99px;
}

.c21{
    margin-left: 1px;
    margin-top: -99px;
}

.c22{
    margin-left: -31px;
    margin-top: -99px;
}

.c23{
    margin-left: -63px;
    margin-top: 69px;
}

.c24{
    margin-left: 33px;
    margin-top: 69px;
}

.c25{
    margin-left: 1px;
    margin-top: 69px;
}

.c26{
    margin-left: -31px;
    margin-top: 69px;
}

.c27{
    margin-left: -79px;
    margin-top: -15px;
}

.c28{
    margin-left: -95px;
    margin-top: -43px;
}

.c29{
    margin-left: -95px;
    margin-top: 13px;
}

.c30{
    margin-left: 49px;
    margin-top: 41px;
}

.c31{
    margin-left: -79px;
    margin-top: -71px;
}

.c32{
    margin-left: -111px;
    margin-top: -15px;
}

.c33{
    margin-left: 65px;
    margin-top: -43px;
}

.c34{
    margin-left: 65px;
    margin-top: 13px;
}

.c35{
    margin-left: -79px;
    margin-top: 41px;
}

.c36{
    margin-left: 49px;
    margin-top: -71px;
}

.c37{
    margin-left: 81px;
    margin-top: -15px;
}

.r1{
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
}

.r2{
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
}

.r3{
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
}

.r1 > .hex-brick{
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
}

.r2 > .hex-brick{
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
}

.r3 > .hex-brick{
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
}


@keyframes pulse{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    50%{
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }
    
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes fade{
    0%{
        background: #ABF8FF;
    }
    
    50%{
        background: #90BBBF;
    }
    
    100%{
        background: #ABF8FF;
    }
}

@-webkit-keyframes pulse{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    50%{
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }
    
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes fade{
    0%{
        background: #ABF8FF;
    }
    
    50%{
        background: #389CA6;
    }
    
    100%{
        background: #ABF8FF;
    }
}





body {
  height: 100vh;
  width: 100%;
  background : black;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 10px;
}

.navbar {
  display: flex;
  padding: 22px 0;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar .hamburger-btn {
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}

.navbar .logo {
  gap: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar .logo img {
  width: 40px;
  border-radius: 50%;
}

.navbar .logo h2 {
  color: #fff;
  font-weight: 600;
  font-size: 1.7rem;
}

.navbar .links {
  display: flex;
  gap: 35px;
  list-style: none;
  align-items: center;
}

.navbar .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
  color: #000;
  cursor: pointer;
}

.navbar .links a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.1s ease;
}

.navbar .links a:hover {
  color: #19e8ff;
}

.navbar .login-btn {
  border: none;
  outline: none;
  background: #fff;
  color: #275360;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.15s ease;
}

.navbar .login-btn:hover {
  background: #ddd;
}

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  max-width: 720px;
  background: #fff;
  border: 2px solid #fff;
  transform: translate(-50%, -70%);
}

.show-popup .form-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #878484;
  cursor: pointer;
}

.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}

.form-popup .form-box {
  display: flex;
}

.form-box .form-details {
  width: 100%;
  color: #fff;
  max-width: 330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .form-details {
  padding: 0 40px;
  background: url("https://drive.google.com/uc?export=view&id=1NveZlPElDf26KkyjOX7KBQ-K_LAdc0Jo");
  background-position: center;
  background-size: cover;
}

.signup .form-details {
  padding: 0 20px;
  background: url("https://drive.google.com/uc?export=view&id=1Ng9upyhuS0lG_wWyw-WPFAU--Uo_6xu4");
  background-position: center;
  background-size: cover;
}

.form-box .form-content {
  width: 100%;
  padding: 35px;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 29px;
}

form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.input-field input {
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  font-size: 0.95rem;
  padding: 0 15px;
  border: 1px solid #717171;
  border-radius: 3px;
}

.input-field input:focus {
  border: 1px solid #00bcd4;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #4a4646;
  pointer-events: none;
  transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid) ~ label {
  transform: translateY(-120%);
  color: #00bcd4;
  font-size: 0.75rem;
}

.form-box a {
  color: #00bcd4;
  text-decoration: none;
}

.form-box a:hover {
  text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
  display: inline-flex;
  margin-top: 13px;
  font-size: 0.95rem;
}

form button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 14px 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  margin: 25px 0;
  background: #00bcd4;
  transition: 0.2s ease;
}

form button:hover {
  background: #0097a7;
}

.form-content .bottom-link {
  text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
  display: none;
}

.form-popup.show-signup .signup {
  display: flex;
}

.signup .policy-text {
  display: flex;
  margin-top: 14px;
  align-items: center;
}

.signup .policy-text input {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

@media (max-width: 950px) {
  .navbar :is(.hamburger-btn, .close-btn) {
    display: block;
  }

  .navbar {
    padding: 15px 0;
  }

  .navbar .logo img {
    display: none;
  }

  .navbar .logo h2 {
    font-size: 1.4rem;
  }

  .navbar .links {
    position: fixed;
    top: 0;
    z-index: 10;
    left: -100%;
    display: block;
    height: 100vh;
    width: 100%;
    padding-top: 60px;
    text-align: center;
    background: #fff;
    transition: 0.2s ease;
  }

  .navbar .links.show-menu {
    left: 0;
  }

  .navbar .links a {
    display: inline-flex;
    margin: 20px 0;
    font-size: 1.2rem;
    color: #000;
  }

  .navbar .links a:hover {
    color: #00bcd4;
  }

  .navbar .login-btn {
    font-size: 0.9rem;
    padding: 7px 10px;
  }
}

@media (max-width: 760px) {
  .form-popup {
    width: 95%;
  }

  .form-box .form-details {
    display: none;
  }

  .form-box .form-content {
    padding: 30px 20px;
  }
}



.a {
  color: #fff;
  text-decoration: none;
}
.me {
  width: 400px;
  margin: 90px auto;
}
.me p,
.me h1 {
  letter-spacing: 3px;
  text-align: center;
}
.me p {
  font-weight: 200;
}
.me span {
  font-weight: bold;
}
.social {
  position: fixed;
  top: 30%;
  left: 15px;
}
.social ul {
  padding: 0px;
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;
}
.social ul li:hover {
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 18px;
}
.social ul li:hover i {
  background: #fff;
  transform: rotate(360deg);
  transition: all 1s;
}

.social ul li:hover .fa-instagram{
  color:#E1306C;
}
.social ul li:hover .fa-github{
  color:#6e5494;
}
.social ul li:hover .fa-telegram{
  color:#229ED9;
}
.social ul li:hover .fa-twitter{
  color:#1DA1F2;
}
.social ul li:hover .fa-linkedin-in{
  color:#0077b5;
}


.social ul li i {
  margin-left: 10px;
  color: #fff;
  background: #000;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 30px;
  transform: rotate(0deg);
}


